<div class="container">
  <h1 class="title">Currency Converter</h1>

  <div class="field">
    <div class="card">
      <app-dropdown [loading]="loading" [value]="from" (valueChange)="from = $event; onConvert()"
        [currencies]="currencies" [currencyCodes]="currencyCodes">
      </app-dropdown>

      <app-input [loading]="loading" [type]="'number'" [min]="1" [placeholder]="'Amount'" [value]="amount"
        (valueChange)="amount = $event; onConvert()"></app-input>
    </div>

    <p>⬇️</p>

    <div class="field">
      <div class="card">
        <app-dropdown [loading]="loading" [value]="to" (valueChange)="to = $event; onConvert()"
          [currencies]="currencies" [currencyCodes]="currencyCodes">
        </app-dropdown>
        <div class="result">
          <p class="spinner" *ngIf="loading"></p>
          <p><strong *ngIf="!loading && convertedValue !== null"> {{ convertedValue | number:'1.2-2' }} {{ to }}
            </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>