<div class="container">
  <h1 class="title">Currency Converter</h1>

  <div class="field">
    <div class="card">
      <select [disabled]="loading" #fromInput [(ngModel)]="from" (change)="onConvert(false)">
        <option *ngFor="let code of currencyCodes" [value]="code.name">
          {{ code.name }} - {{ currencies[code.id]?.name }}
        </option>
      </select>
      <input [disabled]="loading" type="number" min="1" [(ngModel)]="amount" (input)="onConvert(false)"
        placeholder="Amount" />
    </div>

    <p>⬇️</p>

    <div class="field">
      <div class="card">
        <select [disabled]="loading" #toInput [(ngModel)]="to" (change)="onConvert(false)">
          <option *ngFor="let code of currencyCodes" [value]="code.name">
            <p>{{ code.name }} - </p>
            <p>{{ currencies[code.id]?.name }}</p>
          </option>
        </select>
        <div class="result">
          <p class="spinner" *ngIf="loading"></p>
          <p><strong *ngIf="!loading && convertedValue !== null"> {{ convertedValue | number:'1.2-2' }} {{ to }}
            </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>